{% extends "layout.html" %}

{% block content %}
{% load static %}
<!--app-content open-->
<div class="main-content app-content mt-0">
    <div class="side-app">

        <!-- CONTAINER -->
        <div class="main-container container-fluid">

            <!-- PAGE-HEADER -->
            <div class="page-header">
                <h1 class="page-title">Short Term Course Edit</h1>
                <a href="short-course-view.php" class="btn btn-danger btn-pill">View</a>

            </div>
            <!-- PAGE-HEADER END -->



            <form method="post" class="" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <!-- IMAGE UPLOADER -->
                    <div class="col-lg-4 col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Image Upload</h3>
                            </div>
                            <div class=" card-body">
                                <div class="row mb-5">
                                    <div class="col-lg-12 col-sm-12 mb-4 mb-lg-0">
                                        <input name="image" type="file" class="dropify" data-bs-height="180" placeholder="/media/{{ course.image }}"/>
                                    </div>
                                </div>
                                <h6 style="color: red;">{{ form.image.errors }}</h6>
                            </div>
                        </div>
                    </div>
                    <!-- IMAGE UPLOADER end -->

                    <!-- DETAILS START -->
                    <div class="col-lg-8">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Short Term Course Information</h3>
                            </div>
                            <div class="card-body">
                                <div class="row">

                                    <!--  Title -->
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <label class="form-label"> Title</label>
                                            <input name="title" type="text" class="form-control" value = "{{ course.title}}">
                                        </div>
                                        <h6 style="color: red;">{{ form.title.errors }}</h6>
                                    </div>
                                    <!--  Subtitle -->
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Subtitle</label>
                                            <input name="subtitle" type="text" class="form-control" value="{{ course.subtitle }} ">
                                        </div>
                                        <h6 style="color: red;">{{ form.subtitle.errors }}</h6>
                                    </div>

                                    <!-- Description -->
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="form-label">Description</label>
                                            <h6 style="color: red;">{{ form.description.errors }}</h6>
                                            <textarea name="description" id="summernote">{{course.description |safe}}
                                        </textarea>
                                    </div>
                                  

                                    <div class="form-group">
                                        <div class="multi-field-wrapper ">
                                        <div class="multi-fields">
                                            <div class="multi-field">
                                                <div class="row">
                                                    <div class="col-lg-6" style="padding-right:0px">
                                                        <div class="form-group">
                                                            <label>Amount</label>
                                                            <input type="text" name="amount" class="form-control form-control-lg" value="{{ course.amount }}">
                                                        </div>
                                                        <h6 style="color: red;">{{ form.amount.errors }}</h6>
                                                    </div>

                                                    <div class="col-lg-6" style="padding-right:0px">
                                                        <div class="form-group">
                                                            <label>Details</label>
                                                            <textarea name="details" class="form-control mb-4" value="">{{ course.details }}</textarea>
                                                        </div>
                                                        <h6 style="color: red;">{{ form.details.errors }}</h6>
                                                    </div>
                                                </div>
                                                <button type="button"
                                                    class="remove-field float-right btn btn-danger btn-sm icon-btn ml-2 "><i
                                                    class="mdi mdi-delete"></i></button>
                                            </div>
                                        </div>
                                        <div>
                                            <button type="button" type="button"
                                            class=" add-field btn btn-info btn-sm icon-btn ml-2 mb-2">
                                            Add New<i class="mdi mdi-plus"></i>
                                            </button>
                                        </div>
                                        </div>

                                        </div>
                                    <!-- status -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Status</label>
                                            <select name="is_active" class="form-control select2" data-placeholder="Status">
                                                <option value="true">Enable</option>
                                                <option value="false">Disable</option>
                                            </select>
                                        </div>
                                        <h6 style="color: red;">{{ form.is_active.errors }}</h6>
                                    </div>
                                    <!-- SUBMIT START -->
                                    <div class="col-lg-12 ">
                                        <div class="mt-5">
                                            <a href="" class="btn btn-default btn-pill">Cancel</a>
                                            <button class="btn btn-warning btn-pill">Submit</button>
                                        </div>
                                    </div>
                                     <!-- SUBMIT END -->


                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- DETAILS END -->


                </div>

        </div>
        </form>


    </div>
    <!-- CONTAINER END -->
</div>
</div>
<!--app-content close-->

{% endblock %}
<script>
    $('.multi-field-wrapper').each(function () {
      var $wrapper = $('.multi-fields', this);
      $(".add-field", $(this)).click(function (e) {
        $('.multi-field:first-child', $wrapper).clone(true).appendTo($wrapper).find('input,textarea').val('')
          .focus();
      });
      $('.multi-field .remove-field', $wrapper).click(function () {
        if ($('.multi-field', $wrapper).length > 1)
          $(this).parent('.multi-field').remove();
      });
    });
  </script>
